<div class="min-100 d-flex flex-column" style="height:100%">

  <header>
    <app-nav-menu></app-nav-menu>
  </header>

  <div class="flex-fill">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p-footer>
      <div class="grid">
        <div class="col-10">
          <div class="text-left px-2">
            © {{'Copyright' | translate}}
          </div>
        </div>
        <div class="col-2">
          <div class="text-right px-2"><a href="https://github.com/bogdanbrudiu/HamSpecialEvent" target="_blank"><i class="pi pi-github" style="font-size: 1.5rem; color: 'var(--secondary-color)'"></i></a></div>
        </div>
      </div>
    </p-footer>
  </footer>
</div>
