
<h1 style="color: green">{{'HamEvent' | translate}}</h1>
<h5>{{'HamEventDescription' | translate}}</h5>
<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="assets/radio-icon.png" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <p-menu #menu [model]="langItems" [popup]="true" [baseZIndex]="300"></p-menu>
        <p-button type="button" (click)="menu.toggle($event)" [raised]="true" severity="secondary" icon="pi pi-chevron-down" iconPos="right" label="{{siteLanguage}}"></p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">{{'HamEvent' | translate}}</a>

    <div class="collapse navbar-collapse" id="topnavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/Home']" class="nav-link" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'Home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/Events']" class="nav-link" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'HamEvents' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="event">
          <a class="nav-link">{{event.name}}</a>
        </li>
        <li class="nav-item" *ngIf="event">
          <a [routerLink]="[eventId]" class="nav-link" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'QSOs' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="event && event.hasTop">
          <a [routerLink]="[eventId,'top']" class="nav-link" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'Event Top' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="event && isLive">
          <a [routerLink]="[eventId,'live']" class="nav-link" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'Live' | translate}}</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
